<!doctype html>
<meta http-equiv="content-type" content="text-html; charset=utf-8">

<!-- Libraries by other people. -->

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js'></script>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

<!-- My external javascript and css. -->

<style>

.curr_node {
  background: red
}

.curr_interval {
  background: red
}

.curr_interval * {
  background: red
}

</style>

<script>

function BaseTree(scope) {
  this.scope = scope
  scope.tree = this

  var tree = this

  this.after_construction()
  var scope = this.scope
  scope.nodes = {
    "5005108148" : {
      "child_ids" : [],
      "node_id" : "5005108148",
      "text": "node 5005108148",
      "node_intervals": {
        1416816000000: [{
          create_ms:1416816000000,
          daily_time:1416816000000,
          ms:1000 * 10,
          text:'#test interval 1'
        }]
      }
    }
  }
  scope.top_ids = [ "5005108148" ]
}


var module = angular.module('treeApp', [])

module.controller('TreeController', ['$scope',
  function($scope) {
    new BaseTree($scope)
  }])


BaseTree.prototype.after_construction = function() {
  var scope = this.scope
  var tree = this

  scope.get_curr_intervals = function() {
    var curr_node = tree.scope.curr_node
    return curr_node ? curr_node.node_intervals[tree.scope.curr_daily_date.getTime()] : []
  }

  scope.set_curr_interval = function(interval) {
    tree.scope.curr_interval = interval || null
  }

  scope.set_current_node = function(node, e) {
    console.log('set curr_node, node:', node)
    scope.curr_node = node
    var daily_time = tree.date_to_daily_ms(new Date())
    var intervals = node.node_intervals[daily_time] || []
    console.log('  intervals:', intervals)
    scope.set_curr_interval(intervals[intervals.length - 1])
  }

  scope.curr_daily_date = new Date(this.date_to_daily_ms(new Date()))
}

BaseTree.prototype.date_to_daily_ms = function(date) {
  return new Date(date.getFullYear(), date.getMonth(), date.getDate()).getTime()
}

</script>


<div ng-app="treeApp" class='main_content'>

  <!-- Outer tree followed by interval section: date picker, interval list, and interval info. -->

  <div ng-controller="TreeController">
    <div id="tree_section">
      <div class='section_label'>Project Categories</div>

      <ol tree ng-include="'00_node_template.html'" class="ui-sortable">
      </ol>
    </div>

    <div class="interval_section">
      <div class='section_label'>Daily Work Log</div>

      <!-- Datepicker widget. -->

      <p class="input-group" style='float:right'>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open_datepicker($event)">
          <i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>

      <!-- Intervals -->

      <div class="interval_list">
        <div class="interval_div"
             ng-repeat="interval in get_curr_intervals()"
             ng-class="{'curr_interval': interval == curr_interval}">
          <input ng-model="interval.text"
                 ng-change="save_interval(curr_node, curr_daily_date, $index, 'text', interval.text)"
                 ng-focus="set_curr_interval(interval)"
                 ng-keydown="interval_keydown(interval, $event)"
                 autogrow autoselect/>
        </div>
        <div title='Create new interval' class='ui-icon ui-icon-plusthick'
             ng-click='new_interval(curr_node)' ng-if="curr_node">
        </div>

      </div>

      <hr>

      <div class="interval_info" ng-if='curr_interval'>
        <span class="text">{{curr_interval.text}}</span>
        <input time-input ng-model='curr_interval.ms' class='time_input'
               ng-focus='pause()' ng-blur='unpause()' />
        <div title='Delete this interval' class='ui-icon ui-icon-closethick delete'
             ng-click='delete_interval(curr_node, curr_interval)'>
        </div>
      </div>
    </div>
  </div>
</div>
