<html ng-app="myApp">
  <head>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js'></script>
    <script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
  </head>
  <body ng-controller="treeController">


    <script type="text/ng-template" id="node_template.html">
      <input class="text" ng-model="node.text">
      <ol ng-model="node.nodes">
        <li ng-repeat="node in node.nodes" ng-include="'node_template.html'">
        </li>
      </ol>
    </script>

    <ol ng-model="nodes">
      <li ng-repeat="node in nodes" ng-include="'node_template.html'"></li>
    </ol>

    <a href="https://taskranger.firebaseio.com/test_tree">View Data</a>

    <script>
    var myApp = angular.module("myApp", ["firebase"]);

    function walk_tree(func, nodes) {
      for(var i = 0; i < nodes.length; i++) {
        func(nodes[i])
        walk_tree(nodes[i].nodes)
      }
    }

    myApp.controller('treeController', ['$scope', '$firebase',
      function($scope, $firebase) {
        var ref = new Firebase('https://taskranger.firebaseio.com/test_tree/nodes');
        $scope.nodes = $firebase(ref).$asArray();
        console.log('nodes:', $scope.nodes)

        $scope.nodes.$loaded(function(nodes) {
          walk_tree(function(node) {
            node.text.$bindTo($scope, "nodes");
          })
        })
      }
    ]);

    </script>
  </body>
</html>

