<!doctype html>
<meta http-equiv="content-type" content="text-html; charset=utf-8">

<!-- Libraries by other people. -->

<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
<script src='https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.js'></script>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script src='https://cdn.rawgit.com/ilikenwf/nestedSortable/2.0alpha/jquery.mjs.nestedSortable.js'></script>

<!-- My external javascript and css. -->

<script src='static/std.js'></script>

<link rel="stylesheet" href="static/tree.css">
<link rel="stylesheet" href="static/tr.css">

<script src='00_tree.js'></script>
<script src='01_firebase.js'></script>
<script src='02_intervals.js'></script>
<script src='03_drag_and_drop.js'></script>


<div ng-app="treeApp">

  <!-- Recursive node template.  Collapse button, input widget, new node buttons, child nodes. -->

  <script type="text/ng-template" id="nodes_renderer.html">
    <li node_id="{{node_id}}" ng-repeat="node_id in top_ids" ui-tree-node
        ng-init="node = nodes[node_id]">
      <div class='headline'>
        <div class="ui-icon collapse"
             ng-class="{'ui-icon-triangle-1-e': node.is_collapsed, 'ui-icon-triangle-1-s': !node.is_collapsed}"
             ng-click="node.is_collapsed = !node.is_collapsed">
        </div>
        <input ng-model="node.text"
               ng-change="save_node_key(node, 'text', node.text)"
               ng-focus="show_intervals_for_today(node)"
               ng-click="evt.metaKey || evt.altKey || new_interval(node)">
        <div title='Add sibling' class='ui-icon ui-icon-arrowthick-1-s insert-under'
             ng-click='new_node(node.parent_id, top_ids.indexOf(node.node_id) + 1)'>
        </div>
        <div title='Add child' class='ui-icon ui-icon-arrowreturnthick-1-e insert-child'
             ng-click='new_node(node.node_id, 0)'>
        </div>
        <div title='Delete' class='ui-icon ui-icon-closethick delete'></div>
      </div>
      <ol ng-include="'nodes_renderer.html'"
          ng-init="top_ids = node.child_ids; parent_node = node"
          ng-if="!node.is_collapsed"></ol>
    </li>
  </script>

  <!-- Outer tree followed by interval section: date picker, interval list, and interval info. -->

  <div ng-controller="TreeController">
    <ol tree ng-include="'nodes_renderer.html'"
        id="tree_section" class="ui-sortable">
    </ol>

    <div class="interval_section">

      <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="shortDate"
               ng-model="curr_date" is-open="date_opened" format="shortDate"
               ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open_datepicker($event)">
          <i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>

      <div class="interval_list">
        <div class="interval_div" ng-repeat="interval in curr_intervals">
          <input ng-model="interval.text"
                 ng-change="save_interval(curr_node, curr_date, $index, 'text', interval.text)"
                 autogrow>
          <div class="close">×</div>
        </div>
      </div>

      <hr>

      <div class="interval_info">
        <span class="text"></span>
        <input class="time_input"></input>
      </div>
    </div>

    <pre>{{top_ids | json}}</pre>
    <pre>{{nodes | json}}</pre>
  </div>

</div>




