<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script src='https://cdn.rawgit.com/ilikenwf/nestedSortable/2.0alpha/jquery.mjs.nestedSortable.js'></script>
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>

<script src='static/std.js'></script>

<script src='01_tree.js'></script>
<script src='02_tree.js'></script>

<style>
li {background:white}
.highlight {background-color:#ddffff}
.placeholder {background: #f0f9ff; border: 1px dashed #bed2db;}
.headline {border: solid 1px}
</style>


<div ng-app="treeApp">

  <script type="text/ng-template" id="nodes_renderer.html">
    <li node_id="{{node_id}}" ng-repeat="node_id in node_ids" ui-tree-node
        ng-init="node = nodes[node_id]">
      <div class='headline'>
        <a class="btn btn-success btn-xs" ng-click="toggle(this)">
          <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
        </a>
        <input ng-model="node.text"> {{node.text}}
        <a class="btn btn-primary btn-xs" ng-click="newSubItem(this)">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
        {{node.child_ids}}
      </div>
      <ol ng-include="'nodes_renderer.html'" ng-init="node_ids = node.child_ids"></ol>
    </li>
  </script>

  <div ng-controller="TreeController">
    <ol ng-include="'nodes_renderer.html'" ng-init="node_ids = top_ids"
        id="tree_section" class="ui-sortable"  ng-if="show_tree">
    </ol>
    <pre>{{top_ids | json}}</pre>
    <pre>{{nodes | json}}</pre>
  </div>
</div>




