<html ng-app="myApp">
  <head>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js'></script>
    <script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>

    <script src='01_write_test_data.js'></script>
  </head>
  <body ng-controller="treeController">

    <script type="text/ng-template" id="nodes_renderer.html">
      {{fb_data.nodes[id].text}}
      <ol>
        <li ng-repeat="id in fb_data.nodes[id].child_ids" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
      </ol>
    </script>

    <ol>
      <li ng-repeat="id in fb_data.top_ids" ng-include="'nodes_renderer.html'"></li>
    </ol>

    <a href="https://taskranger.firebaseio.com/test_tree">View Data</a>

    <script>
    var myApp = angular.module("myApp", ["firebase"]);

    myApp.controller('treeController', ['$scope', '$firebase',
      function($scope, $firebase) {
        RemoteTree.prototype.after_write_test_data = function() {
          var ref = this.root_ref = new Firebase('https://taskranger.firebaseio.com/test_tree');
          $scope.fb_data = $firebase(ref).$asObject();
          $scope.fb_data.$loaded(
            function(fb_data) {
              var nodes = tree.nodes = fb_data.nodes
              tree.top_ids = fb_data.top_ids
              tree.write_json_to_node(
                {text:'new node'}, nodes[Object.keys(nodes)[0]].node_id)
            },
            function(err) {console.error(err)}
          )
        }

        var tree = new RemoteTree()
        tree.write_test_data()
      }
    ]);

    </script>
  </body>
</html>

