<div class='reports'>
  <div class='report'>
    <div class='report_label'>Overall time breakdown:</div>
    <ol id="top5">
      <li ng-repeat='tag_info in top_list'>
        {{tag_info.ms / 1000 | secs_to_hms | limitTo : 5}} {{tag_info.tag}}
        ({{tag_info.ms / total_ms * 100 | number:0}}%)
      </li>
    </ol>
  </div>

  <div class='report'>
    <span class='report_label'>Time logged today:</span>
    {{tree_stats.time_per_day[date_info.curr_daily_date.getTime()] / 1000 | secs_to_hms}}
  </div>
</div>

<div class='top_buttons'>
  <button class='undelete' ng-click='undelete()' ng-if="deleted_node">
    Undelete category
  </button>
  <button ng-click='toggle_pause()'>Pause</button>
</div>
