
/* Header and stuff */

body {background-color:#f8f8f8; height:100%}
.header {margin-top:10px}
.header a {text-decoration:none}
/*.buttons {float:left; margin-left:20px; border:inset 2px; padding:5px;
          border-radius:6px; margin-top:7px}*/
.buttons { margin-top: 4px; display: inline-block; margin-left: 15px }
.logo {float:left; font-size:200%; margin-bottom:20px; color:#fff;
       background-color:#58C; border-radius:10px;
       padding-left:10px; padding-right:10px;
       padding-top:4px; padding-bottom:4px;
       font-family:Palatino Linotype; border:solid 3px; border-color:#cdf;
       background: -webkit-gradient(linear, left top, left bottom,
                               from(#69D), to(#47b));
       background: -moz-linear-gradient(top,  #69D,  #47b);
       filter: progid:DXImageTransform.Microsoft.gradient(
                     startColorstr='#6699dd', endColorstr='#4477bb');
}
.logo:hover {cursor:pointer;
       background: -webkit-gradient(linear, left top, left bottom,
                                    from(#7ae), to(#58c));
       background: -moz-linear-gradient(top,  #7ae,  #58c);
       filter: progid:DXImageTransform.Microsoft.gradient(
                     startColorstr='#77aaee', endColorstr='#5588cc');
}

.login { margin-top:15px; display: inline-block }

/* main content */

#top5 { display: block }

.time {
width: 64px;
margin-top: 2px;
margin-right: 6px;
float: right;
border-radius: 4px;
text-align: center;
}

.task_time {
  border:solid 1px; border-color: #999
}

.date_created {
  float:right; font-size: 80%; margin-top: 4px; margin-right:4px
}

.score {float:right; margin-right: 10px;}
.date {float:right; width:85px}

.pause_indic {background:#fff; position:fixed; left:50%; top:50%;
              border:solid 4px; display:none; font-size:20px;
              padding:10px; font-weight:strong;}

.stack {
  width:400px; height:200px; float:left; margin-top:15px; margin-left:20px
}




