
/* Header and stuff */

body { height:100% }
.header { margin-top:10px }
.header a { text-decoration:none }
.top_buttons { margin-top: 4px; margin-left: 15px }
.logo {
  float:left; font-size:200%; margin-bottom:20px; color:#fff;
  background-color:#58C; border-radius:10px;
  padding-left:10px; padding-right:10px;
  padding-top:4px; padding-bottom:4px;
  font-family:Palatino Linotype; border:solid 3px; border-color:#cdf;
  background: -webkit-gradient(linear, left top, left bottom,
                         from(#69D), to(#47b));
  background: -moz-linear-gradient(top,  #69D,  #47b);
  filter: progid:DXImageTransform.Microsoft.gradient(
              startColorstr='#6699dd', endColorstr='#4477bb');
}
.logo:hover {
  cursor:pointer;
  background: -webkit-gradient(linear, left top, left bottom,
                              from(#7ae), to(#58c));
  background: -moz-linear-gradient(top,  #7ae,  #58c);
  filter: progid:DXImageTransform.Microsoft.gradient(
               startColorstr='#77aaee', endColorstr='#5588cc');
}

.login { margin-top:15px; display: inline-block }

.ui-icon {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* main content */

.reports ol {
  list-style: none;
  padding:0; margin:0
}

.report_label {
  font-weight: 800;
}

.reports .report {
  background: #f7f7f7;
  display: inline-block;
  color: black;
  padding: 5px;
  border-radius: 4px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}


#tree_section {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  padding: 11px;
  padding-top: 5px;
  border-radius: 4px;
  margin: 12px;
  background: #e5e5e5;
}

.curr_interval {
  background: #ffa
}



.cum_time {
  font-size: 80%;
  margin-top: 4px;
}

.task_time {
  border: inset 1px;
  width: 52px;
  margin-top: 3px;
}

.time {
  margin-right: 5px;
  float: right;
  border-radius: 4px;
  text-align: center;
}


.value_per_hour {
  float: right;
  font-size: 60%;
  margin-top: 7px;
  margin-right: 4px;
}

.pause {background:#fff; position:fixed; left:25%; top:50%;
        border:solid 4px; font-size:20px;
        padding:10px; font-weight:strong;}


[datepicker] .btn-default {
  border:none
}

.activity-table {background:white}

.time-col {width:78px}
.delete-col {width:60px}

.interval-time {width:62px}

.interval-text {width:100%}

.activity-table .delete-btn {padding: 2px 12px; border:none}

.date-form {margin:10px}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: none; outline-style: none;
}

div > .activity-table {
  margin-left: 10px;
  border: solid 1px silver;
  width: 450px;
}











