
/* Header and stuff */

body {background-color:#f8f8f8; height:100%}
.header {margin-top:10px}
.header a {text-decoration:none}
/*.buttons {float:left; margin-left:20px; border:inset 2px; padding:5px;
          border-radius:6px; margin-top:7px}*/
.buttons { margin-top: 4px; display: inline-block; margin-left: 15px }
.logo {
  float:left; font-size:200%; margin-bottom:20px; color:#fff;
  background-color:#58C; border-radius:10px;
  padding-left:10px; padding-right:10px;
  padding-top:4px; padding-bottom:4px;
  font-family:Palatino Linotype; border:solid 3px; border-color:#cdf;
  background: -webkit-gradient(linear, left top, left bottom,
                         from(#69D), to(#47b));
  background: -moz-linear-gradient(top,  #69D,  #47b);
  filter: progid:DXImageTransform.Microsoft.gradient(
               startColorstr='#6699dd', endColorstr='#4477bb');
}
.logo:hover {cursor:pointer;
     background: -webkit-gradient(linear, left top, left bottom,
                                  from(#7ae), to(#58c));
     background: -moz-linear-gradient(top,  #7ae,  #58c);
     filter: progid:DXImageTransform.Microsoft.gradient(
                   startColorstr='#77aaee', endColorstr='#5588cc');
}

.login { margin-top:15px; display: inline-block }

.ui-icon {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* main content */


#top5 { display: block }

#tree_section {
  display: inline-block;
  vertical-align: top;
  width: 370px;
  padding-left: 0px;
  border: solid 2px #ccc;
  padding: 2px;
  border-radius: 4px;
  margin: 12px;
}

#tree_section > ol {
  padding:5px;
}

#tree_section .headline {
  border: solid 2px #aaa;
  margin: 3px;
  border-radius: 4px;
}

#tree_section .headline input {
  margin-top:2px
}

.cum_time {
  font-size: 80%;
  margin-top: 4px;
}

.task_time {
  border: inset 1px;
  width: 52px;
  margin-top: 3px;
}

.time {
  margin-right: 5px;
  float: right;
  border-radius: 4px;
  text-align: center;
}

.date_created {
  float:right; font-size: 70%; margin-top: 5px; margin-right:4px
}

.value_per_hour {
  float: right;
  font-size: 60%;
  margin-top: 7px;
  margin-right: 4px;
}

#tree_section .date {float:right; width:85px}

.pause_indic {background:#fff; position:fixed; left:25%; top:50%;
              border:solid 4px; display:none; font-size:20px;
              padding:10px; font-weight:strong;}

.stack {
  width:450px; height:210px; float:left; margin-top:15px; margin-left:20px
}

.note {font-family:Tahoma; font-size:80%}

/*  Work intervals */

.interval_section {
  display:inline-block; width:400px;
  border:solid 1px; padding:2px;
}

.interval_section .time_input {
  display:none
}

.interval_list {
  line-height:0px
}

.interval_div {
  display: inline-block;
}

.interval_div * {
  margin:0;
  padding:0;
}

.interval_div input {
  display:table-cell;
  padding:3px 0px;
  border:1px solid #ccc;
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
}

.interval_div .close {
  border:1px solid #ccc;
  display:table-cell;
  border-left:0px;
  background-color:#eee;
}

.current_interval input {
  background-color:red
}



























